#TaskAdd {
  /deep/.van-collapse-item__content {
    padding: 0 !important
  }

  /deep/.el-input__inner {
    height      : 100%;
    border      : none;
    margin      : 0;
    color       : #333;
    padding-left: 0;
  }

  /deep/.el-icon-arrow-up {
    display: none;
  }

  .red {
    color: red
  }

  .title-right {
    float: right;
  }

  .group-header {
    text-align: right;
  }

  .group-title {
    font-size  : 40px;
    font-weight: 700;
    color      : #3d3d3d;
    line-height: 60px;
  }
}